.InformationDisplay-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    background-color: #02353C;
}
.Individual-Display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 90%;
    margin: 0 auto;
}
.Individual-Display div{
    align-items: center;
    padding: 15px;
}
.Individual-Display h1{
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 20px;

}
.Individual-Display p{
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, .7);
    line-height: 33px;
    hyphens: none;
    margin-bottom: 20px;

}
.Individual-Display img{
    width: 50%;
    height: 50%;
    border-radius: 6px;
}