/* Overlay for the popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; /* Transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Container for the popup */
.popup-container {
  background-color: #489283;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  height: 400px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.close-btn:hover {
  color: #ff0000;
}

.header{
  display: flex;
  align-items: center;
}

.secondaryLogoTxt{
  color: white;
  font-size: 24px;
}
.primaryLogoTxt{
  color: white;
  font-size: 28px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border: 2px solid black;
}

.signin-btn {
  background-color: #02353C;
  color: white;
  padding: 12px;
  font-size: 28px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-btn:hover {
  background-color: #FFFFFF85;
}

/* Styling for error messages */
.error-message {
  color: darkred;
  font-size: 16px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}

.signup{
  padding: 19px;
  font-size: 15px;
  color: #02353C;
}

.signup-here{
  color: white;
}

.signup-here:hover{
  color: #02353C;
}

