.view-requests-container {
  background-color: #d2e0dd;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.map-and-requests {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Section Title */
.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  padding: 10px 0;
  width: 100%;
}

.map-container {
  width: 100%;
  height: 400px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
}

.requests-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Space between the cards */
  max-height: 600px;
  overflow-y: auto;
}

.request-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 200px; /* Increase the height of each request card */
}

.request-title {
  font-weight: bold;
  font-size: 1.4em; /* Slightly larger font */
  margin-bottom: 10px;
  color: #333;
}

.request-type {
  margin-top: 5px;
  font-weight: bold;
  color: #666;
}

.icon-physical,
.icon-donation {
  font-size: 1.2em;
  margin-right: 5px;
}

.request-description {
  margin-top: 10px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Fade into ... */
}

/* Label Styling */
.request-card strong {
  color: #444;
  font-weight: 600;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
  .requests-list {
    grid-template-columns: 1fr;
  }

  .request-card {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .requests-list {
    grid-template-columns: repeat(2, 1fr); /* 2-column layout for tablets */
  }
}
